
<h1>Login</h1>
<br>

<div class="textholder">
  <input type="text" placeholder="email-id" name="email" [(ngModel)]="emailId" value="{{emailId}}">
</div>

<br>

<div class="textholder">

  <input type="password" placeholder="password" name="password" [(ngModel)]="password" value="{{password}}">
</div>

<br>

<a href="https://www.google.com">Forgot password</a>

<br><br>

<button (click)="handleLoginOnClickSignInBtn()" class="btn btn-success">Sign-in</button>
<br><br>
<button (click)="getUserDetails()" class="btn btn-success">Get user details</button>

<br><br>

<div class="alert alert-warning" *ngIf="isInvalidPassword">{{errorMessage}}</div>

<hr>

<p>Or</p>

<button (click)="registerUser()" class="btn">Register</button>

<button (click)="getExpenseCategory()" class="btn">Expense category</button>

