<header>

  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #E2A243;">
    <div><a href="/expense-categories" class="navbar-brand">Manage Your Money</a></div>

    <ul class="navbar-nav active">
      <li><a *ngIf="true" routerLink="/expense-categories" class="nav-link">Home</a></li>
      <li><a *ngIf="true" routerLink="/todos" class="nav-link">Expenses</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a (click)="logoutUser()" style="cursor: pointer;" class="nav-link">Logout</a></li>
      <!--User profile link-->
    </ul>

  </nav>

</header>
