<div style="display: flex;" class="page-below-toolbar">

  <div class="bigger-side-container">

    <div *ngIf="expenseCategoryList.length !== 0" class="search-results"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="1000"
         (scrolled)="onScroll()"
         [scrollWindow]="false">

      <div class="item-container">

        <app-expense-category-item
          *ngFor="let item of expenseCategoryList; trackBy: trackByFn"
          [expenseCategoryItem]="item"
          [isSelected]="item === selectedItem"
          [isCalledFromHome]="true"
          (itemSelected)="selectItem(item)">
        </app-expense-category-item>

      </div>

    </div>

    <mat-progress-bar *ngIf="isLoading" style="padding: 10px; margin: 10px" mode="indeterminate"></mat-progress-bar>

    <div (click)="navigateToAddExpenseCategory()" class="add-button">

      <mat-icon matPrefix style="color:white;margin-right: 3px">add</mat-icon>
      <span>Add Category</span>
    </div>

  </div>

  <div *ngIf="expenseCategoryList.length === 0 && !isError" class="center">

    <span>Please click on Add Category button for adding a new category.</span>

  </div>

  <div *ngIf="isError" class="center">

    <span>{{errorMessage}}</span>

  </div>


  <div *ngIf="expenseCategoryList.length !== 0" class="smaller-side-container" style="background-color: #CCCCCC">

    <div class="category-detail-container">

      <div class="expense-category-image">

        <img
          src="{{selectedItem.imageUrl === null || selectedItem.imageUrl === '' ? 'assets/no_image_placeholder.jpg' : selectedItem.imageUrl}}"
          alt="{{selectedItem.categoryName}}" class="image-fit">

      </div>

      <div class="expense-category-description-container">

        <div class="preview-header">

          <div class="preview-header-category-name">
            <span style="color: black; font-size: 20px">{{selectedItem.categoryName}}</span>
          </div>

          <div class="preview-header-menu-buttons">

            <button (click)="navigateToEditExpenseCategory()" mat-icon-button aria-label="Edit" color="primary">
              <mat-icon>edit</mat-icon>
            </button>

            <button (click)="deleteExpenseCategory()" mat-icon-button aria-label="Delete" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <div class="detail-container">
          <span class="detail-header">Category description</span>
          <br>
          <span
            class="detail-value">{{selectedItem.categoryDescription === '' ? 'No description!' : selectedItem.categoryDescription}}</span>
        </div>

        <div class="detail-container">
          <span class="detail-header">Created</span>
          <br>
          <span class="detail-value">{{selectedItem.created | date: 'dd-MM-yyyy hh:mm:ss a'}}</span>
        </div>

        <div class="detail-container">
          <span class="detail-header">Modified</span>
          <br>
          <span class="detail-value">{{selectedItem.modified | date: 'dd-MM-yyyy h:mm:ss a'}}</span>
        </div>

        <div class="detail-container">
          <span class="detail-header">This month expense</span>
          <br>
          <span class="detail-value">₹ {{selectedItem.thisMonthExpense}}</span>
        </div>

        <div class="detail-container">
          <span class="detail-header">Total expense</span>
          <br>
          <span class="detail-value">₹ {{selectedItem.totalExpense | number: '1.2-2'}}</span>
        </div>

      </div>

    </div>

  </div>

</div>
