<mat-dialog-content>
  <div class="forgot-password-container">

    <div class="signIn-signUp-header">
      <span>Forgot Password?</span>
    </div>

    <div class="login-signup-form-container">

      <mat-form-field appearance="outline" style="width: 80%">
        <mat-label>Email-Id</mat-label>
        <input matInput placeholder="Enter your email-id" [(ngModel)]="emailId" required>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <br>

      <span *ngIf="!isResponseValid && errorResponse !== ''" class="form-error">{{errorResponse}}</span>
      <span *ngIf="isResponseValid && successResponse !== ''" class="form-success">{{successResponse}} and <a
        href="/login">Sign In</a></span>

      <mat-card (click)="submitForgotPassword()" class="singIn-signUp-button" matRipple>

        <div>
          <span>SUBMIT</span>
        </div>

      </mat-card>

    </div>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>

