<div class="center">

  <div class="container">

    <br><br>
    <form class="form" (ngSubmit)="submitForgotPassword()">

      <div class="mb-3">
        <label for="user_email" class="form-label">Email address</label>
        <input type="email" class="form-control" name="emailId" id="user_email" placeholder="Enter your email address"
               [(ngModel)]="emailId">
        <div *ngIf="!isEmailIdValid" style="color: orangered;">Please enter a valid email address</div>
      </div>

      <div *ngIf="!isResponseValid" class="alert alert-warning">{{errorResponse}}</div>
      <div *ngIf="isResponseValid && successResponse !== ''" class="alert alert-success">{{successResponse}}</div>

      <div class="center-div">

        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>

  </div>

  <hr>

  <div style="display: flex; justify-content: center">
    <button class="btn" style="margin-right: 3px"><a href="/login">Login</a></button>
    <button class="btn" style="margin-left: 3px"><a href="/register">Register</a></button>
  </div>


</div>
