/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css);

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-padding {
  border: solid 1px #CCC;
  padding: 30px;
}

.center {
  position: absolute;
  top: 25%;
  left: 45%;
  margin: -50px 0 0 -50px;
}
