/* You can add global styles to this file, and also import other style files */
/*
@import url(https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css);
*/

/*
my-colors:
darkest: 01204e
dark: 033682
light-dark: 033682
light: 4e60ec
 */

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-padding {
  border: solid 1px #CCC;
  padding: 30px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*-------------*/

.login-register-smaller-side-container {

  width: 30%;
  height: 100%;
  background-color: #4e60ec;
  position: relative;
}

.login-signup-section-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-signup-header {

  padding: 10px;
  text-align: center;
}

.login-signup-header span {

  font-weight: bolder;
  font-size: 35px;
  font-family: Georgia, sans-serif;
  color: aliceblue;
  padding: 5px;
}

.login-signup-content {

  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.login-signup-content span {

  font-size: 15px;
  font-family: Georgia, sans-serif;
  color: aliceblue;
  padding: 5px;
  user-select: none;
}

.div-button-stroke {

  width: 250px;
  height: 50px;
  border: 1px solid aliceblue;
  border-radius: 100px;
  padding: 5px;
  display: table;
  text-align: center;
  cursor: pointer;
  margin-top: 50px;
}

.div-button-stroke span {

  display: table-cell;
  vertical-align: middle;
  font-family: Bahnschrift, serif;
  font-size: 15px;
  color: aliceblue;
  user-select: none;
}

.login-signup-container {

  width: 50%;
  padding: 15px;
}

.signIn-signUp-header {

  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.signIn-signUp-header span {

  font-weight: bold;
  font-size: 40px;
  padding: 3px;
  font-family: Georgia, sans-serif;
  color: #0687FF;
  user-select: none;
}

.login-signup-form-container {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.form-error {
  font-size: 12px;
  color: red;
}


